<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Fancy Guestbook</title>
    <link rel="stylesheet" type="text/css" href="/page.css">
  </head>
  <body>
    <h1 id="title">Error</h1>
    <div class="error">{{message}}</div>
    <a href="/">I'm Sorry</a>
  </body>
</html>
