<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Fancy Guestbook</title>
    <link rel="stylesheet" type="text/css" href="/page.css">
  </head>
  <body>
    <h1 id="title">Guestbook</h1>
    {{#each entries as |e|~}}
    <div class="entry">
      <p class="entry-name">{{e.name}}</p>
      <p class="entry-date">{{e.date}}</p>
      {{#each e.comments as |c| ~}}
      <div class="comment">
        <p class="comment-name">{{c.name}} <span class="comment-date">@ {{c.date}}</span></p>
        <p class="comment-message">{{c.message}}</p>
      </div>
      {{/each~}}
      <p class="comment-date">Leave a comment...</p>
      <form class="comment-form" action="/comment" method="post">
        <input name="index" value="{{@index}}" type="hidden">
        <input name="name" placeholder="Name">
        <input name="message" placeholder="Message">
        <button>Comment</button>
      </form>
    </div>
    {{/each~}}
    <h2>Sign In</h2>
    <form class="sign-in-form" action="/sign-in" method="post">
      <input name="name" placeholder="Name">
      <button>Sign In</button>
    </form>
  </body>
</html>
