html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

#title {
    padding-top: 16px;
}

.entry {
    width: 512px;
    margin: 16px auto;
    padding: 8px;
    background-color: #F5F5F5;
    border: 1px solid black;
    text-align: left;
}
.entry-name {
    font-weight: bold;
}
.entry-date {
    color: #555555;
}

.comment {
    margin: 8px 0;
    padding: 8px;
    background-color: white;
    border: 1px solid black;
}
.comment-name {
    font-weight: bold;
}
.comment-date {
    color: #777777;
}
.comment-message {
    margin-top: 4px;
}

.comment-form > input {
    width: 100%;
    margin: 2px 0;
    box-sizing: border-box;
}
.comment-form > button {
    width: 100%;
    margin-top: 2px;
}

.sign-in-form > input {
    width: 256px;
    margin-top: 16px;
}

.error {
    width: 512px;
    margin: 16px auto;
    padding: 8px;
    background-color: rgb(255, 200, 200);
    border: 1px solid red;
    font-size: 20px;
}
